/* リセットcss */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* リセットcss */

// sp版
.top {
    display: grid;
    margin: 0;
    min-height: 100vh;
    grid-template-rows: 360px 1fr 137px;
    grid-template-columns: 1fr;
    row-gap: 40px;
    &__header {
        background-image: url("../img/bg-header_sp.png");
        height: 100%;
        background-size: cover;
        display: grid;
        grid-template-rows: 48px 89px 82px 1fr;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        &--main-content {
            text-align: center
        }
        &--main-content1 {
            font-size: 50px;
            color: #C32D4D;
            font-family: EB Garamond;
            margin-bottom: 5px;
            small {
                font-size: 30px;
            }
        }
        &--title {
            img {
                padding: 15px;
            }
        }
    }
    &__main {
        display: grid;
        grid-template-rows: 1fr 310px;
        row-gap: 26px;
        &--sentences {
            padding-right: 20px;
            padding-left: 20px;
        }
        &--sentence {
            color: #333333;
            font-family: Noto Sans JP Regular;
            line-height: 25px;
        }
        &--sentence1 {
            font-size: 15px;
        }
        &--sentence2 {
            font-size: 14px;
            img {
                float: left;
                padding-right: 10px;
                padding-bottom: 14px;
            }
        }
        &__links {
            padding-top: 22px;
            padding-bottom: 32px;
            a {
                color: #C32D4D;
            }
        }
        &--image {
            display: grid;
            justify-content: center;
        }
    }
    &__footer {
        background-color: #C32D4D;
        font-family: EB Garamond;
        &--contents {
            display: grid;
            grid-template-rows:40px 21px;
            justify-content: center;
            column-gap: 30px;
        }
        &--content {
            grid-row: 2 / 3;
            color: #FFFFFF;
        }
        &--copyright {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 40px;
            color: #F9B1C0;
        }
    }
}